@use "variables" as *;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin button(){
  font-size:  16px;
  font-weight: 500;
  line-break: 26px;
  letter-spacing: 2.29px;
  text-decoration: none;
  &:hover {
    color: $color-green;
  }
  &::after {
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    background-color: $color-green;
    margin: 10px auto 0;
  }
}
