@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as m;

.main {
  padding: 40px 16px 80px 16px;
  overflow: hidden;
  @include m.breakpoint(tablet){
        padding: 0;   
        padding-left: 31px;
        padding-right: 31px; 
        }
    @include m.breakpoint(desktop){
        padding-left: 100px;
        padding-right: 100px;
        
    }
    @include m.breakpoint(desktopxl){
        padding-left: 165px;
        padding-right: 165px;
    }    
  
}


  .group-right{
    background-image: url("../img/grupo-oval-der.png");
    width: 160px ;
    height: 129px;
    position: absolute;
    top: 1274px;
    //left: 252px;
    right: 0;
    background-repeat: no-repeat;
    overflow: hidden;
    @include m.breakpoint(tablet){
        top: 921px;
        width: 172px;
        height: 129px;
        z-index: 1;
        display:block;
        overflow: hidden;

    }
    
  }
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include m.breakpoint(tablet){
        width: 445px;
        margin-top: 90px;
        align-items: start;
        text-align: left;
    }
    @include m.breakpoint(desktop){
        width: 680px;
    }
    @include m.breakpoint(desktopxl){
        width: 706px;
    }
    &__title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 40px;
        
        .tablet-break {
            display: none;
        }
        
        @include m.breakpoint(tablet){
            font-size: 72px;
            font-weight: 600;
            line-height: 72px;
            letter-spacing: -2.05px;
            text-align: left;
            z-index: 2;

            .tablet-break {
                display: inline;
            }
        }
        @include m.breakpoint(desktop){
            font-size: 80px;
            font-weight: bold;
            line-height: 80px;
            letter-spacing: -1.5px;
            
            .tablet-break {
                display: none;
            }
        }
        @include m.breakpoint(desktopxl){
            font-size: 88px;
            font-weight: bold;
            line-height: 88px;
            letter-spacing: -2.5px;
            
            .tablet-break {
                display: none;
            }
        }
    }
    &__title::after {
            content: "";
            display: block;
            width: 240px;
            height: 4px;
            background-color: $color-green;
            margin: 10px auto 0;
            position:absolute;
            top:116px;
            left: 28%;
            @include m.breakpoint(tablet){
                left:4%;
                top:357px;
                width: 400px;
            }
            @include m.breakpoint(desktop){
                left: 224px;
                top: 307px;
                width: 450px;
            }
            @include m.breakpoint(desktopxl){
                left: 303px;
                top: 328px;
                width: 495px;
            }
        }
    &__description {
        margin-bottom: 24px;
        color: $color-grey-white;
        font-size: 16px;
        line-height: 26px;
        @include m.breakpoint(tablet){
            margin-top: 60px;
            font-size: 18px;
        }
}

    
    &__separator{
        width: 100%;
        @include m.breakpoint(tablet){
            display: none;
        }
        
    }
    .skills-hr{
        margin-top: 80px;
        margin-bottom: 40px;
        @include m.breakpoint(tablet){
            display: block;
            margin-top: 60px;
            width: 708px;
        }
        @include m.breakpoint(desktop){
            margin-top: 218px;
            width: 146%;
        }
        @include m.breakpoint(desktopxl){
            width: 159%;
        }
    }
    
}

.skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    @include m.breakpoint(tablet){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 52px;
        justify-content: flex-start;
        justify-items: start;
    }
    @include m.breakpoint(desktop){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 60px;
    }
    
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        @include m.breakpoint(tablet){
            align-items: start;
        }
        
    }

    &__name{
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        @include m.breakpoint(tablet){
            font-size:56px;
            font-weight: 600;
            line-height: 56px;
            letter-spacing: -1.5px;
        }
    }
    &__experience{
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
        color: $color-grey-white;
        

    }
}
.projects-hr{
    margin-bottom: 80px;
    margin-top: 20px;
}
.projects{
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 100%;
    @include m.breakpoint(tablet){
        margin-top: 100px;
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @include m.breakpoint(tablet){
            margin-bottom: 60px;
        }
        &-title{
            font-size: 40px;
            font-weight: bold;
            line-height: 40px;
            @include m.breakpoint(tablet){
                font-size: 72px;
                font-weight: 600;
                line-height: 72px;
                letter-spacing: -2.05px;
            }
        }
    }
    
}

.projects__list{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @include m.breakpoint(tablet){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 60px;
    }
}
    
.project{
    width: 100%;
    position: relative;
    
    &__image{
        object-fit: cover;
        width: 100%;
        height: 253px;
        margin-bottom: 20px;
        @include m.breakpoint(desktop){
            height: 380px;
            margin-bottom: 0;
        }
        @include m.breakpoint(desktopxl){
            height: 400px;
        }
    }
    &__title{
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        text-transform: uppercase;
    }
    &__tech{
        display: flex;
        gap: 18px;
        font-size: 18px;
        line-height: 28px;
        margin-top: 7px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__actions{
        display: flex;
        gap: 30px;
        text-transform: uppercase;
        @include m.breakpoint(desktop){
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 380px;
            background-color: rgba(0, 0, 0, 0.75);
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        @include m.breakpoint(desktopxl){
            height: 400px;
        }
    }

    @include m.breakpoint(desktop){
        &:hover {
            .project__actions {
                display: flex;
                opacity: 1;
            }
        }
    }
}
