@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as m;

.header__nav{
    @include m.breakpoint(tablet){
        display: flex;
        align-items: center;
        padding-top: 29px;
    }
    &-list{
        display: flex;
        flex-direction: row;
        gap: 25px;
        list-style: none;
        margin-top: 22px;
        @include m.breakpoint(tablet){
            margin-top: 0;
            z-index: 2;
        }
    }

    &-link {
        &:hover .header__nav-img {
            filter: brightness(0) saturate(100%) invert(69%) sepia(84%) saturate(342%) hue-rotate(93deg) brightness(95%) contrast(88%);
            
        }
    }

    &-img{
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        display: block;
        transition: filter 0.3s ease;
    }
    
    .github{
        background-image: url("../img/akar-icons_github-fill.svg");
    }
    .mentor{
        background-image: url("../img/simple-icons_frontendmentor.svg");
    }
    .linkedin{
        background-image: url("../img/linkedin.svg");
    }
    .twitter{
        background-image: url("../img/akar-icons_twitter-fill.svg");
    }
}

.footer__nav{
    display: flex;
    flex-direction: row;
    gap: 25px;

    .footer__social-link {
        &:hover img {
            filter: brightness(0) saturate(100%) invert(69%) sepia(84%) saturate(342%) hue-rotate(93deg) brightness(95%) contrast(88%);
        }

        img {
            transition: filter 0.3s ease;
        }
    }
}